POSTGRES_DB=esgwatchdog
POSTGRES_USER=esgwatchdog
POSTGRES_PASSWORD=

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_SSLMODE=disable

DART_API_KEY=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=ap-northeast-2
AWS_S3_BUCKET=esg-watchdog-dev

NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=